*~
*.db
*.gz
*.log
*.out
*test
.deps*
ChangeLog*
INSTALL
INSTALL.txt
LICENSE.txt
Makefile
Makefile.in
HACKING.html
NEWS
README
TAGS
TODO
aclocal.m4
admin
autom4te.cache
bugs
compile
config.cache
config.log
config.status
configure
dmalloc*
gtk-doc.make
libltdl
libtool
mkinstalldirs
not-used
notes
patches
redland.pc
redland.rdf
redland-config
redland-src-config
releases
saved
stamp-h*
test*
*.stackdump
