/* Smush of CSS from ILRT, Rudolf, W3C REC */

body {
  margin: 2em 1em 2em 1em;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  color: #000085;
  background: white;
}

/* NS 4 needs this */
th, td, p, ol, ul, li, dl, dt, dt, blockquote { font-family: Verdana, Arial, Helvetica, sans-serif; }

h1, h2, h3, h4, h5 { text-align: left; color: #880000; }

h1 { font-weight: normal; font-size: 170%; font-family: Verdana, Arial, Helvetica, sans-serif; }
h2 { font-weight: normal; font-size: 140%; font-family: Verdana, Arial, Helvetica, sans-serif; }
h3 { font-weight: normal; font-size: 120%; font-family: Verdana, Arial, Helvetica, sans-serif; }
h4 { font-weight: bold; font-size: 100%; font-family: Verdana, Arial, Helvetica, sans-serif; }
h5 { font-weight: italic; font-size: 100%; font-family: Verdana, Arial, Helvetica, sans-serif; }


pre { margin-left: 2em }

/* NS 4 needs this */
pre, code { font-size: 100%; font-family: monospace; }

tt { font-size: 100%; font-family: monospace; }


a:link  { color : #000099; }

a:hover  { color : red; }
