/* CSS from many places, styled after 2002/2003 ILRT style */

body {
  margin: 0em;
  font-family: Arial, Helvetica, Geneva, SunSans-Regular, sans-serif;
  background-color: white;
  color: black;
  font-size: 10pt;
}

/* NS 4 needs this */
th, td, p, li, dl, dt, blockquote { 
  font-family: Arial, Helvetica, Geneva, SunSans-Regular, sans-serif;
}

ol,ul { font-size: 100% }

h1, h2, h3, h4 { text-align: left; }

h1 { font-weight: normal; font-size: 200%; font-family: Arial, Helvetica, Geneva, SunSans-Regular, sans-serif; }
h2 { font-weight: bold; text-transform: capitalize; font-size: 130%; font-family: Arial, Helvetica, Geneva, SunSans-Regular, sans-serif; }
h3 { font-weight: bold; font-size: 110%; font-family: Arial, Helvetica, Geneva, SunSans-Regular, sans-serif; }
h4 { font-weight: bold; font-size: 100%; font-family: Arial, Helvetica, Geneva, SunSans-Regular, sans-serif; }


pre {
  margin: 1em 4em 1em 4em;
  color: black;
  background-color: #eee;
  padding: 0.5em;
  border-color: #006;
  border-width: 1px;
  border-style: dotted;
}


/* NS 4 needs this */
pre, code, tt {
  font-family: Courier, monospace;
}

@media screen {  /* hide from IE3 */
  a { color: #003399; background-color: white; font-family: Arial, Helvetica, Geneva, SunSans-Regular, sans-serif }
  a:hover { color: #3F7AF0; background-color: white; font-family: Arial, Helvetica, Geneva, SunSans-Regular, sans-serif }
  a:visited { color: #4B0360; background-color: white; font-family: Arial, Helvetica, Geneva, SunSans-Regular, sans-serif }
  a:visited:hover {color: #3F7AF0;background-color: white }
}

.logo {
  font-size: 80%;
}

.headingbox {
  color: white;
  background-color: #286097;
  margin: 0em 0em 1em 0em;
  padding: 1em 1em 1em 1em;
  border-bottom: solid black 1px;
}

.heading {
  color: white;
  background-color: #286097;
  margin: 0em;
}

a.author:hover, a.author:visited:hover {
  color: white;
  background-color: #286097;
  text-decoration: underline; 
}


.author {
  color: white;
  background-color: #286097;
}

a.author {
  color: white;
  background-color: #286097;
  text-decoration: none; 
}

.category {
  margin: 0em 0.5em 0.5em 1em;
}

.cbody {
  margin-right: 1em
}

.catheader {
  color: #555;
  background-color: white;

  margin: 1px;
  font-size: 120%;
  padding: 1px;
}

.catitems {
  font-size: 100%;
  margin-left: 1em;
  padding: 0px;
}

.footer {
  font-size: 75%;
  background-color: white;
  color : #808080;
}

td.heading small a {
  color: white;
  background-color: #286097;
  text-decoration: none;
}

td.heading small a {
  color: white;
  background-color: #286097;
  text-decoration: none;
}

td.heading small a:hover, td.heading small a:hover {
  color: white;
  background-color: #286097;
  text-decoration: underline; 
}



div.logo a {
  color: white;
  background-color: #286097;
  text-decoration: none;
}

  
